.cart img {
  width: 150px;
}
.cart {
  width: 200px;
  border: 1px solid gray;
  border-radius: 15px;
  position: relative;
  height: 300px;
}
.cart h1,
h3,
h4 {
  margin: 8px 0px;
}
.cart button {
  width: 100%;
  font-size: 20px;
  background-color: aquamarine;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.cart button:hover {
  background-color: orange;
  color: rgb(61, 52, 52);
}
